@import url('home.css');
@import url('normalize.css');


.titulo-productos{
	display: flex;
	justify-content: center;
	font-size: var(--title-md);
	margin-bottom: 20px;
	margin-top: 100px;
}

.container{
   display: flex;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 3px 5px 3px 5px;
}

.products-container {
	height: 450px;
	width: 300px;
	margin: 5px 10px 5px 10px;
}


.product-box{
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);   
 }
 .product-name{
	 display: flex;
	 justify-content: center;
	 font-size: var(--title-sm);
 }

 .product-image {
	 display: flex;
	 justify-content: center;
 }

.image {
	margin: 10px;
	height: 150px;
   	width: 150px;
}

.product-description {
	font-size: var(--text-s-sm);
}

.product-price {
	display: flex;
	align-items: flex-end;
}
