@import url('home.css');
@import url('normalize.css');
.update-form {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    background-color:#909090;
}

h2 {
    display: flex;
    justify-content:center;
}

.update-product {
    margin: 0px 500px 0px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#name, #description, #category, #price  {
    padding: 10px; 
    border-radius: 5px; 
    border: none;
    margin: 10px;
    width: 45%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

#image {
    padding: 10px; 
    border-radius: 5px; 
    border: none;
    margin: 10px;
    width: 45%;
}

.update {
    margin: 20px 500px 0px 500px;
    display: flex;
    justify-content: center;
}

.button-update {
    padding: 10px; 
    border-radius: 5px; 
    border: none;
    width: 45%;
    cursor: pointer;
    margin-bottom: 20px;
}

.button-update:hover {
    background: rgba(0, 116, 217, .2);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}