@import url('home.css');
@import url('normalize.css');


.titulo-productos{
	display: flex;
	justify-content: center;
	font-size: var(--title-md);
	margin-bottom: 20px;
	margin-top: 100px;
}

.container{
   display: flex;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 30px 150px 30px 150px;
}

.products-container {
	overflow-wrap: anywhere;
	height: 450px;
	width: 350px;
	margin: 25px 5px;
	
}


.product-box{
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding:0px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);   
 }

 .product-name{
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 20px;
	 margin-top: 10px;
	 font-size: var(--title-sm);
 }

 .product-image {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 190px;
 }

.image {
	margin: 10px;
	height: 150px;
   	width: 150px;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: var(--text-s-sm);
	height: 225px;
	color: black;
}

.product-description {
	display: flex;
	align-items: center;
	height: 100px;
	margin: 0px 15px;
}

.product-category{
	display: flex;
	align-items: center;
	height: 25px;
}

.product-type{
	display: flex;
	align-items: center;
	height: 25px;
}

.product-size{
	display: flex;
	align-items: center;
	height: 25px;
}

.product-price {
	display: flex;
	align-items: center;
	height: 50px;
}
.buttons {
	margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color: var(--bg);
    background: var(--main-color);
    cursor: pointer;
	margin: 30px;
}


