@import url('home.css');
@import url('normalize.css');


.profile-container{
    margin: 100px auto;
    display: flex;
}

.product-box{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
    flex-wrap: wrap;
    margin: 0 auto;
}

.product-box_image{
    width: 22%;
}
.product-box_image img{
    width: 190px;
    height: 150px;
}

.image-container{
    flex-direction: column;
    justify-content: center;
}

.image-update{
    margin-top: 2rem;
}

.btn-update{
    margin-top: 1rem;
    display: inline-block;
    padding:.4rem 3rem;
    font-size: 1.7rem;
    color: var(black);
    background: var(--white-grey);
    cursor: pointer;
    border: 1px solid rgb(100, 97, 97);
}

.btn-update:hover{
    letter-spacing: .1rem;
}

.data-user{
    flex-direction: row;
}

.data-user h2{
   padding: 20px;
}

.logout{
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
}
