<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Matero</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>

<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo">
        <img src="/images/logo.png" alt="">
    </a>

    <nav class="navbar">
        <a href="#">Tienda</a>
        <a href="#">Suscripciones</a>
        <a href="#">Mi cuenta</a>
    </nav>

    <div class="icons">
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
    </div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Sumate al club</h3>
        <p>Una comunidad para fanáticos del mate</p>
        <a href="#" class="btn">Elegí tu suscripción</a>
    </div>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading">Quienes <span>somos</span></h1>
    <div class="row">
        <div class="image">
            <img src="/images/default.png" alt="">
        </div>
        <div class="content">
            <h3>¿Qué nos hace especiales?</h3>
            <p>Un lazo entre productores y consumidores. Una comunidad para descubrir, disfrutar y aprender. El vínculo que nos conecta alrededor de un mate.</p>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> Asociate <span>en 3 simples pasos</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="/images/default.png" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Elegí tu membresía</a>
                <p>Se trata de una suscripción mensual con la que vas a ser parte del club. Existen distintos planes, eso significa que todos los meses vas a recibir una caja pensada para ajustarse a tu consumo.</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/images/default.png" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Detalla tus preferencias</a>
                <p>Podes personalizar el pedido para que la yerba te llegue en el formato que prefieras, porque queremos que cualquiera pueda ser parte de la comunidad. Elegí la opción que se adecue a tu consumo, podes cambiar tu preferencia en cualquier momento!</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/images/default.png" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Recibilo en tu hogar</a>
                <p>Todos los meses una selección de las mejores yerbas llegará a tu casa. Cada entrega será particular, podrás conocer los distintos orígenes y variedades, y compartir tu experiencia con el resto de los miembros del Club.</p>
            </div>
        </div>

    </div>

</section>

<!-- blogs section ends -->

<!-- home section starts  -->

<section class="suscribe">

    <div class="content">
        <h3>Unite</h3>
        <p>Recibí la mejor materia prima</p>
        <a href="#" class="btn">Suscribite</a>
    </div>

</section>

<!-- home section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
    </div>

    <div class="credit">created by <span>Alphas</span> | all rights reserved</div>

</section>

<!-- footer section ends -->
