<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 


    
    <main class="login">
        <form action="/" method="POST">
            <div class="datos-usuario-login">
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="nombre" required>
                <label for="pass">Contraseña: </label>
                <input type="password" name="pass" id="pass" minlength="8" required> 
            </div>
            <div class="container-login">
                <div class="recordarUsuario">
                    <input type="checkbox" name="recordarUsuario" id="recordarUsuario">
                    <label for="recordarUsuario">Recordar usuario </label>
                </div>
                <div class="forgotten">
                    <a href="">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="buttons">
                    <input class="btn" type="submit" value="Iniciar sesión">
                </div>
                <div class="red-login">
                    <a href="/register">¿Aún no tenés cuenta?</a>
                </div>
            </div>
        </form>
    </main>




    <footer>

    </footer>
</body>
</html>