<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/product-create-form.css">
<body>
    <%- include('./partials/header') %> 
<div class="form-group">
    <div>
        <h2> Creación de productos </h2>
    </div>
    <div>
        <form action="/products" method="POST" enctype="multipart/form-data">
            <div class="create-product"> 
                <label for="name">Nombre del producto: </label>
                <input type="text" id="name" name="name" required minlength="5">

                <label for="description">Descripción: </label>
                <textarea name="description" id="description" minlength="20" maxlength="255"></textarea>
            

                <label for="category">Categoría:</label>
                <select name="category" id="category">
                    <option value="">Elegí</option>
                    <option value="Yerba">Yerba</option>
                    <option value="Mate">Mate</option>
                    <option value="Bombilla">Bombilla</option>
                    <option value="Termo">Termo</option>
                </select>

                <label for="price">Precio:</label>
                <input type="text" id="price" name="price">

                <label for="image">Imágen del producto:</label>
                <input type="file" name="image" id="image">
            </div>
            <div  class="select-weight"> 
                <button type="submit" class="button">Crear producto</button>
            </div>

        </form>
    </div>
</div>
    

<footer>
    <%- include('./partials/footer') %> 
</footer>

</body>
</html>