<!DOCTYPE html>
<html lang="es">
<head>

  <%- include('./partials/head') %> 

</head>

<body>

    <%- include('./partials/header') %> 

<main>
<div class="productDetail">
    <div class="imgproducto">
      <img src="/images/default-image.jpg">
    </div>
    <div class="product">
        <div class="text-detail">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Quo aperiam corporis, natus aliquam sit omnis labore quam eius autem temporibus
             laudantium praesentium illo aspernatur eos eligendi aliquid excepturi quas ex!</p> 
        </div>
        <div class="select-weight">
            <p>$</p><select name="" class="weight"> 
                        <option value="none"> Seleccionar peso</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
            <input type="submit" value="Agregar al carrito" class="button">
        </div>
    </div>
</div>  
<hr>
    <div class="similar">
        <h2>Productos similares</h2>
        <div class="img-similar">
          <img src="/images/default-image.jpg">
          <img src="/images/default-image.jpg">
          <img src="/images/default-image.jpg">
          <img src="/images/default-image.jpg">
        </div>
    </div>
</main>
</body>
</html>