<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head') %> 
  <link rel="stylesheet" href="/css/styles.css">

<body>

    <%- include('./partials/header') %> 

  <main class="productDetail">
    <div class="imgproducto">
      <img src="/images/default-image.jpg">
    </div>
    <div class="text-detail">
      <h2>Nombre del producto</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Quo aperiam corporis, natus aliquam sit omnis labore quam eius autem temporibus
         laudantium praesentium illo aspernatur eos eligendi aliquid excepturi quas ex!</p> 
    </div>
      <div class="select-and-button">
         <p>$</p><select name="" id=""> 
            <option value="none"> Seleccionar peso</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        <input type="submit" value="Agregar al carrito">
      </div>
      <div class="productos-similares">
        <h2>Productos similares</h2>
        <div class="img-productos-similares">
          <img src="/images/default-image.jpg">
          <img src="/images/default-image.jpg">
          <img src="/images/default-image.jpg">
          <img src="/images/default-image.jpg">
        </div>
      </div>
    </main>
</body>
</html>