<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/styles.css">

<body>
    
    <%- include('./partials/header') %> 

    <div class="header">
        <div class="steps">
            <h1 class="step-1">Mi Carrito</h1>
            <h1 class="step-2">Detalle de envío</h1>
            <h1 class="step-3">Opciones de pago</h1>
        </div>
        <div class="container-subtitle">
            <a href="" class="continue-shopping"><h5>Seguir comprando</h5></a>
            <h6 class="cart-help">¿Nencesitás ayuda? MAIL/TEL</h6>
        </div>
    </div>

    <main>
        
        <div class="cart-container">
            <section class="items">
                <div class="cart-items">
                    <div class="image">
                        <img src="/images/default-image.jpg" alt="Photo">
                    </div>
                    <div class="about">
                        <h1 class="product-title">YERBA MATE</h1>
                        <h3 class="product-subtitle">500gr</h3>
                        <b><div class="amount">$10</div></b>
                    </div>
                </div>
                <div class="counter">
                    <div class="button">-</div>
                    <div class="count">1</div>
                    <div class="button">+</div>
                </div>
                <div class="remove">Quitar</div>
            </section>

            <section class="items">
                <div class="cart-items">
                    <div class="image">
                        <img src="/images/default-image.jpg" alt="Photo">
                    </div>
                    <div class="about">
                        <h1 class="product-title">YERBA MATE</h1>
                        <h3 class="product-subtitle">500gr</h3>
                        <b><div class="amount">$10</div></b>
                    </div>
                </div>
                <div class="counter">
                    <div class="button">-</div>
                    <div class="count">1</div>
                    <div class="button">+</div>
                </div>
                <div class="remove">Quitar</div>
            </section>
        </div>

        <div class="cost">
            <section>
                <h4>Calculá tu costo de envío</h4>
                <input type="text" class="shipp" name="shipp" placeholder="Código Postal">
                <div>
                    <button type="submit" class="shipp-button">Calcular</button>
                </div>
                <div class="regular-shipp">
                    <b><p>Costo de envío regular $--</p></b>
                </div>
            </section>

            <div class="checkout">
                <div>
                    <div class="sub-total">
                        <p>Subtotal</p>
                        <p>$10</p>
                    </div>
    
                    <div class="shipping">
                        <p>Envío</p>
                        <p>$5</p>
                    </div>
    
                    <hr>
    
                    <div class="total-amount">
                        <b><p>TOTAL</p></b>
                        <b><p>$15</p></b>
                    </div>
                </div>
            </div>
        </div>

        
    </main>
    <div class="cart-button">
        <button type="submit" class="continue">Continuar</button>
        <button type="reset" class="cancele">Cancelar</button>
    </div>
    


    <footer>

    </footer>
    
</body>
</html>