<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/subs.css">
<body>
    <%- include('./partials/header') %> 


    <div class="subs-text">
        <p class="dark">
          

            Todas nuestras suscripciones incluyen <strong>mate de especialidad.</strong>
            <br>
            <u>Atención:</u> todos los meses el mate puede variar su origen.
            <br>
            La propuesta es que conozcas el producto de diferentes tostadores de Argentina.
            <br>
            ¡Preparate para catar un mate distinto cada mes!
            <br>
            Ellos lo tuestan, nosotros te lo llevamos y vos vivís la experiencia Tierra Mate.
            <br>

            <br><br>
            Además, si elegís nuestra <strong>MateBox Explora</strong>, con la entrega de cada mes recibirás 
            un regalo sorpresa y un fascículo coleccionable de nuestro manual matero para adentrarte en la cultura del mate.
            <br>
            Mes a mes te entregaremos uno a uno los tomos de nuestro manual hasta completar los 12 fascículos, 
            lo que te permitirá convertirte en un experto matero.
          </p>
          <p style="margin-bottom: 0">
          Disfrutá lo mejor del mundo del mate.<br>
          Experiencia Tierra Mate.
          </p>
      </div>

      <!DOCTYPE html>
      <html lang="en" dir="ltr">
        <head>
          <meta charset="utf-8">
          <title>Pricing Tabel - FantacyDesigns</title>
          <link rel="stylesheet" href="style.css">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
          <div class="container">
            <div class="pricing-table table1">
              <div class="pricing-header">
                <div class="price"><span>$</span>2000</div>
                <div class="title">Basic</div>
              </div>
              <ul class="pricing-list">
                <li><strong>20GB</strong> Storage</li>
                <div class="border"></div>
                <li><strong>4</strong> Email Address</li>
                <div class="border"></div>
                <li><strong>1</strong> Domain Name</li>
                <div class="border"></div>
                <li><strong>24h</strong> Support</li>
              </ul>
              <a href="#">Order Now</a>
            </div>
       
            <div class="pricing-table table2">
              <div class="pricing-header">
                <div class="price"><span>$</span>2500</div>
                <div class="title">Pro</div>
              </div>
              <ul class="pricing-list">
                <li><strong>60GB</strong> Storage</li>
                <div class="border"></div>
                <li><strong>10</strong> Email Address</li>
                <div class="border"></div>
                <li><strong>3</strong> Domain Name</li>
                <div class="border"></div>
                <li><strong>24h</strong> Support</li>
              </ul>
              <a href="#">Order Now</a>
            </div>
       
            <div class="pricing-table table3">
              <div class="pricing-header">
                <div class="price"><span>$</span>3000</div>
                <div class="title">Premium</div>
              </div>
              <ul class="pricing-list">
                <li><strong>200GB</strong> Storage</li>
                <div class="border"></div>
                <li><strong>30</strong> Email Address</li>
                <div class="border"></div>
                <li><strong>10</strong> Domain Name</li>
                <div class="border"></div>
                <li><strong>24h</strong> Support</li>
              </ul>
              <a href="#">Order Now</a>
            </div>
          </div>
        </body>
      </html>












    <%- include('./partials/footer') %>
</body>
</html>