<header class="header">

    <a href="#" class="logo">
        <img src="/public/images/logo.png" alt="">
    </a>

    <nav class="navbar">
        <a href="#">Tienda</a>
        <a href="#">Suscripciones</a>
        <a href="#">Mi cuenta</a>
    </nav>

    <div class="icons">
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
    </div>

</header>
