<header class="header">
    <link rel="stylesheet" href="/public/css/home.css">
    <a href="#" class="logo">
        <img src="/images/logo.png" alt="">
    </a>

    <nav class="navbar">
        <a href="/products">Tienda</a>
        <a href="#">Suscripciones</a>
        <a href="/login">Mi cuenta</a>
    </nav>

    <div class="icons">
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
    </div>

</header>
